@page "/"
@inject AppState AppState
@inject NavigationManager NavigationManager

<h1>Hello, world!</h1>

Welcome to your new app.

@if (AppState.EstaLogado)
{
    <p> Usuario: @AppState.NomeUsuario</p>
}